.idea-box {
  background-color: #F2F2F2;
  width: 1100px;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-bottom: 50px;
  p {
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
  }
}

.avantages-box {
  background-color: #F2F2F2;
  width: 1100px;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-bottom: 50px;
  p {
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
  }
}
