.service-titre {
  h2 {
    color: #CC9659;
    font-size: 64px;
    display: flex;
    justify-content: center;
  }
  margin-top: 150px;
  margin-bottom: 40px;
}

.service-box {
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}

.personnel-titre {
    h2 {
    color: #CC9659;
    font-size: 64px;
    display: flex;
    justify-content: center;
  }
  margin-bottom: 40px;
}

.personnel-box {
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}
