<div class="container">

  <div class="col">
    <div class="row" style="margin-top: 150px;">
      <h2 style="margin: auto; margin-bottom: 20px;">Naissance d’une idée …</h2>
    </div>

    <div class="idea-box row">
      <p>Le projet est conduit par BELTRAN Valérie, cadre de santé en EHPAD. <br>
      Il est réfléchi depuis plus de 4 ans, a évolué grâce aux  échanges avec les familles, avec les séniors et surtout après réflexion et analyse de mes expériences professionnelles.
      <br><br>
      Il a donc été motivé par l’envie, voire le besoin, de proposer un nouveau modèle de vie pour nos séniors quand l’entrée en institution n’est pas souhaitée mais les années passant, la solitude  ou la dépendance s’installe, la situation devient alors difficile.
      <br><br>
      Ce nouveau modèle de colocation leur permettra de reculer ou d’éviter l’entrée en EHPAD.  <br>
      Les séniors pourront organiser leur quotidien dans un environnement sécurisé et sécurisant pour eux-mêmes et leur famille.
      <br><br>
      L'objectif est que chacun puisse vivre comme à la maison tout en partageant des moments de communauté et de convivialité à plusieurs .
      <br><br>
      La maison partagée sera un lieu respectueux des habitudes individuelles. <br>
      Elle se définit comme un habitat partagé, une colocation pour seniors autonomes et semi autonomes et elle apporte une aide quotidienne grâce à un Service A la Personne intra-muros (SAP).</p>
    </div>

    <div class="row">
      <h2 style="margin: auto; margin-bottom: 20px;">Les avantages de l’habitat partagé</h2>
    </div>

    <div class="avantages-box row" style="margin-bottom: 100px">
      <p>Hormis l’avantage de ne plus vivre seul et en toute sécurité, la vie dans une maison partagée permet de réduire les coûts :
      <br><br>
      Frais partagés des charges et du loyer de la maison <br>
      Frais partagés du service à la personne <br>
      Avantages fiscaux : crédit et réductions d’impôts sur le service à la personne
      <br><br>
      APL, APA <br>
      Mais aussi, <br>
      Vous gardez vos professionnels de santé <br>
      La maison accueille vos petits meubles et vos petits animaux de compagnie. <br>
      Vous pouvez la décorer à votre goût. <br>
      Chambre double pour les couples <br>
      </p>
    </div>
  </div>

</div>
