<div class="container">
<!--   <style>
    body {
      overflow: hidden;
    }
  </style> -->
  <div class="row" style="margin-top: 200px;">
    <div class="presentation col-sm-6">
      <p>Qui sommes nous?</p>
      <p>Phasellus porta nisl mi, vel molestie magna ultricies in. Integer eget sapien suscipit, pulvinar sapien eget, hendrerit lorem. <br> Sed porta tincidunt suscipit. Quisque volutpat sapien ac arcu volutpat, et scelerisque ipsum ultricies. Nullam pharetra nibh id lacus interdum, facilisis congue turpis maximus. Donec quis mi in mi egestas malesuada ullamcorper ut lectus. <br> Etiam pellentesque facilisis accumsan.</p>
      <p>Phasellus porta nisl mi, vel molestie magna ultricies in. Integer eget sapien suscipit, pulvinar sapien eget, hendrerit lorem. <br> Sed porta tincidunt suscipit. Quisque volutpat sapien ac arcu volutpat, et scelerisque ipsum ultricies. Nullam pharetra nibh id lacus interdum, facilisis congue turpis maximus. Donec quis mi in mi egestas malesuada ullamcorper ut lectus. <br> Etiam pellentesque facilisis accumsan.</p>

    </div>

    <div class="founders col-sm-6">
      <div class="founders1 row">
        <div class="profile-pic col" style="padding-left: 0px !important;">
          <%= image_tag("photo1.jpg") %>
        </div>
        <div class="resume col">
          <p>Valerie Beltran:</p>
          <p>Phasellus porta nisl mi, vel molestie magna ultricies in. Integer eget sapien suscipit, pulvinar sapien eget, hendrerit lorem. <br> Sed porta tincidunt suscipit. Quisque volutpat sapien ac arcu volutpat, et scelerisque ipsum ultricies. Nullam pharetra nibh id lacus.</p>
        </div>
      </div>
      <div class="founders1 row">
        <div class="profile-pic col" style="padding-left: 0px !important;">
          <%= image_tag("photo1.jpg") %>
        </div>
        <div class="resume col">
          <p>Jerome Expert:</p>
          <p>Phasellus porta nisl mi, vel molestie magna ultricies in. Integer eget sapien suscipit, pulvinar sapien eget, hendrerit lorem. <br> Sed porta tincidunt suscipit. Quisque volutpat sapien ac arcu volutpat, et scelerisque ipsum ultricies. Nullam pharetra nibh id lacus.</p>
        </div>
      </div>
    </div>
  </div>

 <!--  <div class="rectangle-gauche">
  </div>

  <div class="rectangle-droit">
  </div> -->

</div>
