<div class="container">

  <div class="row" style="margin-top: 150px;">
    <!-- BOX1 LEFT -->
    <div class="col">
      <div class="logo-contact row">
        <%= image_tag "logoBelex.png"%>
      </div>
      <!-- BOX2 LEFT -->
      <div class="contact-box row">
        <div class="col">
          <div class="partie1 row">
            <p>Contactez-nous!</p>
          </div>
          <div class="partie2 row">
            <p>résidences.belex@gmail.com
              <br><br>
              07.67.38.17.16
              <br><br>
              Facebook
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- BOX RIGHT -->
    <div class="formulaire col">
      <p>Pour plus de renseignements, <br>
        remplissez ce formulaire:
      </p>
    </div>

  </div>




</div>
