<div class="container">

  <div class="row" style="margin-top: 150px;">

    <div class="col">

      <!-- BOX1 LEFT -->
      <div class="logo-contact row">
        <%= image_tag "logoBelex.png"%>
      </div>
      <!-- BOX2 LEFT -->
      <div class="contact-box row">
        <div class="col">
          <div class="partie1 row">
            <p>Contactez-nous!</p>
          </div>
          <div class="partie2 row">
            <a  href="mailto:residences.belex@gmail.com">
              <p>residences.belex@gmail.com</p>
            </a>
          </div>
          <div class="partie3 row">
            <p>07.67.38.17.16</p>
          </div>
          <div class="partie4 row">
            <a target="_blank" href="https://fr-fr.facebook.com/ResidenceBelex/">
            <%= image_tag("logo-fb.png") %>
          </a>
          </div>
        </div>
      </div>

    </div>

    <!-- BOX RIGHT -->
    <div class="formulaire-box col">
      <div class="titre-form row">
        <p>Pour plus de renseignements, <br>
          remplissez ce formulaire:
        </p>
      </div>
      <div class="line">
      </div>
      <div class="formulaire">

      </div>
    </div>

  </div>




</div>
