<div class="container">

  <div class="accueil-pic row">
    <%= image_tag("vueterrasse3.jpg") %>
  </div>

    <div class="titre">
      <h1>Résidences Belex</h1>
    </div>

    <div class="sous-titre">
      <h2>Maison partagée pour seniors</h2>
    </div>


</div>
