<div class="container">

  <div class="accueil-pic row">
    <%= cl_image_tag("belex/vueterrasse3_copie_lbkcxl.jpg", :quality=>"auto") %>
  </div>

    <div class="titre">
      <h1>Résidences Belex</h1>
    </div>

    <div class="sous-titre">
      <h2>Maison partagée pour seniors</h2>
    </div>

    <div class="intro-box">
      <p>Vous souhaitez continuer à vivre dans un environnement familier mais vivre seul ou à la charge de vos enfants, commence à être difficile. <br>
      Savoir que nous veillerons sur vous tout en respectant vos habitudes de vie et en vous garantissant une liberté d’organiser votre vie en fonction de vos envies et de vos possibilités peut être la solution .
      <br><br>
      Peut-être seriez-vous, alors, intéressés par l’idée de la maison d’habitation partagée, dans laquelle vous aurez votre intimité tout en rencontrant d’autres personnes dans les lieux communs, lorsque vous le choisirez, pour des échanges, des activités communes et une vie citoyenne ?  
      <br><br>
      Nous vous proposons, un modèle souple, basé sur l’entraide et la bienveillance mutuelle.
      Vivre ensemble sera notre devise.</p>
    </div>

    <div class="bienvenue">
      <h1>Bienvenue chez vous!</h1>
    </div>


</div>
