<div class="container">

  <div class="service-titre">
    <h2>Le service à la personne Belex</h2>
  </div>

  <div class="service-box">
    <p>Notre gouvernante est présente tous les jours pour vous accompagner et vous soulager des tâches quotidiennes. Vous serez chouchoutez et ensemble, vous vivrez le quotidien.
    <br>
    Ce service est lié au contrat de location et est dédié exclusivement aux habitants de la résidence. Le nombre d’heures peut donc être augmenté en fonction de la demande.
    <br><br>
    Un soin particulier est prévu à la préparation des repas avec une exigence sur le "manger sain" avec les produits du terroir et une préparation, sur place, qui privilégie la qualité nutritionnelle.
    <br>
    Les repas seront étudiés et préparés en concertations avec les habitants suivant leurs goûts et habitudes, chacun pourra y mettre son grain de sel!
    </p>
  </div>

  <div class="personnel-titre">
    <h2>Le personnel</h2>
  </div>

  <div class="personnel-box" style="margin-bottom: 100px">
    <p>Le fil directeur du personnel est l'adaptation aux besoins individuels des habitants.
      <br>
    Nous vous assurons une présence relationnelle de qualité et discrète. <br>
    Nous partageons tous et toutes de fortes valeurs humaines et nous nous engageons à vous accompagner au quotidien.
      <br><br>
    La nuit (et le jour) la maison est sécurisée par le système SeniorAdom, concepteur d’une domotique et d’une téléassistance à domicile, complété par une personne d’astreinte. Ainsi, en cas de problème ou de besoin, une personne se rendra rapidement sur les lieux. </p>
  </div>

</div>
