<div class="container">

  <div class="col">
    <div class="row" style="margin-top: 150px;">
      <h2 style="margin: auto; margin-bottom: 20px;">Le service à la personne Belex</h2>
    </div>

    <div class="service-box row">
      <p>Le service à la personne (agréé) est lié au contrat de location et est dédié exclusivement aux habitants de la résidence. Le nombre d’heures peut donc être augmenté en fonction de la demande.
        <br><br>
      Un soin particulier est prévu à la préparation des repas avec une exigence sur le "manger sain" avec les produits du terroir et une préparation, sur place, qui privilégie la qualité nutritionnelle.</p>
    </div>

    <div class="row">
      <h2 style="margin: auto; margin-bottom: 20px;">Le personnel</h2>
    </div>

    <div class="personnel-box row" style="margin-bottom: 100px">
      <p>Le fil directeur du personnel est  l'adaptation aux besoins individuels des habitants.
        <br>
      Nous vous assurons une présence relationnelle de qualité et discrète.
      Nous partageons tous et toutes de fortes valeurs humaines et nous nous engageons à vous accompagner au quotidien.
        <br><br>
      La nuit (et le jour) la maison est sécurisée par le système SeniorAdom, concepteur d’une domotique et d’une téléassistance à domicile, complété par une personne d’astreinte. Ainsi, en cas de problème ou de besoin, une personne se rendra rapidement sur les lieux. </p>
    </div>
  </div>


</div>
